- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html( lang=content.lang )
	include pug/_header.pug
	body
		main
			h1 This book will be available soon
			p You have clicked an advertisement I am using to see what book title makes people click ads.
			h2 Want to be notified when the book is available?
			p Your email will only be used to contact you about the book :)
			a( href='https://mail.palokaj.co/subscription?f=VaS0ZKjjc84ulWcaCTibTqIK0mM892grr5Qw1JY8qI763drN2lGezO93RLvw0xSnJhmf' ) Sign up to be notified here
		include pug/_footer.pug